body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: #111;
  font-family: "Bricolage Grotesque", sans-serif;
  /* border: 5px solid white; */
  overflow-: hidden;
}

header nav {
  width: 83%;
  margin-top: 10px;
  padding-bottom: 11px;
  position: fixed;
  top: 0;
  left: 8%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 5000;
  background-color: #111;
}
header nav:after {
  content: "";
  position: absolute;
  bottom: 1%;
  width: 94%;
  right: 3%;
  border-bottom: solid #444;
  opacity: 0.4000000059604645;
}

header nav .left {
  width: 25%;
  background-color: transparent;
}
header nav .left a button {
  color: #faf9f6;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: -0.817px;
  font-family: "Galano Grotesque Alt", sans-serif;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
header nav .left a .nft:hover {
  color: darkred;
}
header nav .left a button span {
  color: darkred;
}

header nav .middle {
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

header nav .middle li {
  color: #faf9f6;
  font-weight: 500;
  text-decoration: none;
  float: left;
  list-style-type: none;
}

header nav .middle li a {
  color: #faf9f6;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
header nav .middle li a:hover {
  color: darkred;
}

header nav .right {
  width: 25%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
header nav .right a {
  width: 50%;
  text-decoration: none;
}

header nav .right a .sign {
  color: #faf9f6;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.817px;
  font-family: "Galano Grotesque Alt", sans-serif;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
header nav .right a .login {
  height: 35px;
  width: 57px;
  border-radius: 100px;
  background: darkred;
  box-shadow: -3px 8px 24px 0px rgba(207, 45, 45, 0.33);
  color: #fff;
  font-style: normal;
  font-size: 15px;
  /* font-weight: 300; */
  text-decoration: none;
  line-height: normal;
  letter-spacing: 0.17px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .right a i {
  display: none;
}
/* ############# content#################*/

body .content {
  margin: 100px auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0px -169px 223px -113px darkred; */
  background-color: transparent;
}

body .content .card1 {
  width: 30%;
  margin-top: 20px;
}

body .content .card1 h1 {
  color: #faf9f6;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.5%;
  letter-spacing: -0.29px;
  font-family: "Bricolage Grotesque", sans-serif;
}
body .content .card1 .s2 {
  color: darkred;
}

body .content .card1 p {
  color: #faf9f6;
  font-size: 21px;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 450;
  line-height: 173%;
  letter-spacing: -0.22px;
}

body .content .card1 button {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  letter-spacing: 0.17px;
  width: 210px;
  height: 60px;
  cursor: pointer;
}

/* ###########content-card2####### */
body .content .card2 {
  width: 30%;
  margin-top: 20px;
  background-image: url(./IMG/pngegg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 540px;
}

body .content .card2 .content img {
  width: auto;
}
body .content .shadow1 {
  position: absolute;
  top: 10px;
  width: 404.031px;
  height: 404.031px;
  border-radius: 304.031px;
  opacity: 0.15000000596046448;
  background: darkred;
  filter: blur(130px);
  z-index: -10000;
}
body .content .shadow2 {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 404.031px;
  height: 404.031px;
  border-radius: 304.031px;
  opacity: 0.15000000596046448;
  background: darkred;
  filter: blur(130px);
  z-index: -10000;
}

/* ##############logo################# */
.logo i {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  transform: rotate(-11deg);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32,
    inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
  transition: 0.5s;
}
.dance {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes dance {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
