@media (max-width: 250px) {
  header {
    width: 95%;
  }
  header nav {
    width: 55%;
    display: flex;
    left: 0%;
    align-items: center;
  }
  header nav .left {
    width: 40%;
  }
  header nav .middle {
    display: none;
  }
  header nav .right {
    width: 25%;
  }
  header nav .right a .sign,
  header nav .right a .login {
    display: none;
  }

  header nav .right a .fa-bars {
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    color: gray;
    width: 50%;
  }
  header nav .left a button {
    font-size: 20px;
  }
  header nav .right a .sign {
    font-size: 15px;
  }
  header nav .right a .login {
    font-size: 10px;
  }

  /* #############content######### */
  body .content {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }
  body .content .card1 {
    width: 100%;
  }
  body .content .card2 {
    width: 95%;
    height: 540px;
  }
}
/* ############################### */

@media (min-width: 251px) and (max-width: 650px) {
  header nav {
    width: 86%;
    display: flex;
    left: 0%;
    align-items: center;
  }
  header nav .left {
    width: 40%;
  }
  header nav .middle {
    display: none;
  }
  header nav .right {
    width: 25%;
  }
  header nav .right a .sign,
  header nav .right a .login {
    display: none;
  }
  header nav .right a .fa-solid {
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    color: gray;
  }
  header nav .left a button {
    font-size: 30px;
  }
  body .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  body .content .card1 {
    width: 100%;
  }
  body .content .card2 {
    width: 95%;

    height: 540px;
  }
}

/* ############################################ */
@media (min-width: 651px) and (max-width: 990px) {
  header nav {
    width: 80%;
    display: flex;
    left: 8%;
    align-items: center;
  }
  header nav .left {
    width: 30%;
  }
  header nav .middle {
    display: none;
  }
  header nav .right {
    width: 10%;
  }
  header nav .right a .sign,
  header nav .right a .login {
    display: none;
  }
  header nav .right a .fa-solid {
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    color: gray;
  }
  header nav .left a button {
    font-size: 30px;
  }
  body .content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  body .content .card1 {
    width: 45%;
  }
  body .content .card2 {
    width: 45%;
    height: 540px;
  }
}
/* ##################################### */
@media (min-width: 991px) and (max-width: 1114px) {
  header nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
}
